# Week 1 - Python Basics

- Data types
- Operators 
- Variable Assignment

In [6]:
print("Hello World!")

Hello World!

In [3]:
# Data types - intergers, floating points and strings 

num = 1

print(type(num))

<class 'int'>

In [4]:
# Data types - intergers, floating points and strings 

num = 1.1

print(type(num))

<class 'float'>

In [5]:
# Data types - intergers, floating points and strings 

num = '1.1'

print(type(num))

<class 'str'>

In [7]:
# String Operations 

name = 'this is python tutorial'

print(name)

this is python tutorial

In [9]:
print(name.title())

This Is Python Tutorial

In [10]:
print(name.upper())

THIS IS PYTHON TUTORIAL

In [11]:
print(name.lower())

this is python tutorial

In [12]:
other = "TAMUC"

name + other

'this is python tutorialTAMUC'

In [13]:
other = "TAMUC"

name + " " + other

'this is python tutorial TAMUC'

In [14]:
print(name+" "+ other)

this is python tutorial TAMUC

In [17]:
print("\tBUSA 511 \nBUSA 523")

	BUSA 511
BUSA 523

In [19]:
state = " texas "
print(state.rstrip())
print(state.lstrip())
print(state.strip())

 texas
texas
texas

# Operators with int & float 

- Exponent 
- Modulus 
- Quotient
- Division 
- Multiplication 
- Subtraction
- Addition

In [20]:
#Exponent - power of 

2**3

8

In [21]:
#Modulus - remainder

22%8

6

In [23]:
# Quotient

22//8

2

In [24]:
# Division 

22/8

2.75

In [25]:
# Multiplication 

3*5

15

In [26]:
# Subtraction 

5-2

3

In [27]:
# Addition 

2+2

4

In [28]:
name = 'today'

name_2 = 'monday'

print(name+ name_2)

todaymonday

In [29]:
print(name*5)

todaytodaytodaytodaytoday

### Variable Assignment

In [31]:
new _variable = 50

new variable = 50

SyntaxError: invalid syntax (Temp/ipykernel_3280/4033658396.py, line 1)

In [32]:
new$variable = 50

SyntaxError: invalid syntax (Temp/ipykernel_3280/1004308865.py, line 1)

In [33]:
2_name = 50

SyntaxError: invalid decimal literal (Temp/ipykernel_3280/1120337252.py, line 1)

In [34]:
name_2 = 50 

print (name_2)

50

# Week 2 Loops

In [37]:
# Examples of operators and boolean values 

age_sam = 10 
age_lily = 15 

print(age_sam == age_lily)

False

In [38]:
# Examples of operators and boolean values 

age_sam = 10 
age_lily = 15 

print(age_sam != age_lily)

True

In [39]:
age_sam = 10 
age_lily = 15 

print(age_sam < age_lily)

True

In [40]:
age_sam = 10 
age_lily = 15 

print(age_sam > age_lily)

False

In [41]:
age_sam = 10 
age_lily = 15 

print(age_sam <= age_lily)

True

In [42]:
age_sam = 10 
age_lily = 15 

print(age_sam >= age_lily)

False

In [44]:
# Mixing Boolean and Comparison Operators

print(True or False)

# Credit card - credit score > 720 & age > 25

credit_score = 750 
age = 31

credit_check = credit_score > 720
age_check = age > 25

print(credit_check and age_check)

True
True

In [46]:
credit_score = 710 
age = 31

credit_check = credit_score > 720
age_check = age >25

print(credit_check and age_check)

False

In [47]:
credit_score = 710 
age = 31

credit_check = credit_score > 720
age_check = age >25

print(credit_check or age_check)

# One criteria is met, which is the age of the person

True

In [53]:
# Example of an "if" statement 

name = "Alice"

if name == "Alice":
    print("Hi, Alice!")

Hi, Alice!

In [54]:
# Example of an "if" statement 

name = "Jen"

if name == "Alice":
    print("Hi, Alice!")

In [55]:
# Example of an "else" statement

name = "Alice"

if name == "Alice":
    print("Hi, Alice!")   
else:
    print ("Hello Stranger!")

Hi, Alice!

In [56]:
name = "Jen"

if name == "Alice":
    print("Hi, Alice!")   
else:
    print ("Hello Stranger!")

Hello Stranger!

In [58]:
# Example of "Elif" statement 

# gen z > 1996, millenials - 1981, 1996, gen x -1965, 1980, baby boomers < 1964

year = int(input())

if year > 1996: 
    print("gen z")
elif year <= 1996 and year >= 1981:
    print ("millenials")
elif year <=1980 and year >= 1965: 
    print ("gen x")
elif year <= 1964:
    print ("baby boomers")

1954
baby boomers

In [62]:
# Example of "Elif" statement 

# gen z > 1996, millenials - 1981, 1996, gen x -1965, 1980, baby boomers < 1964

year = int(input())

if year > 1996: 
    print("gen z")
elif year <= 1996 and year >= 1981:
    print ("millenials")
elif year <=1980 and year >= 1965: 
    print ("gen x")
elif year <= 1964:
    print ("baby boomers")

1985
millenials

In [64]:
#Example - if, elif and else 

# Hot => 35, Cold <= 15, Rain = Boolean

temp = 25
rain = True 

if temp  > 35: 
    print("put on sunscreen")
elif temp < 15: 
    print("take a jacket")
elif rain == True:
    print("take an umbrella")
else:
    print("you can go outside")

take an umbrella

In [65]:
#Example - if, elif and else 

# Hot => 35, Cold <= 15, Rain = Boolean

temp = 25
rain = False 

if temp  > 35: 
    print("put on sunscreen")
elif temp < 15: 
    print("take a jacket")
elif rain == True:
    print("take an umbrella")
else:
    print("you can go outside")

you can go outside

In [66]:
#Example - if, elif and else 

# Hot => 35, Cold <= 15, Rain = Boolean

temp = 37
rain = True 

if temp  > 35: 
    print("put on sunscreen")
elif temp < 15: 
    print("take a jacket")
elif rain == True:
    print("take an umbrella")
else:
    print("you can go outside")
    
    #The first condition that is true will be reflected in result even if it meets two criterias. In this case rain is true too.

put on sunscreen

In [67]:
# Example of "while" loop

spam = 0 

while spam < 5:
    print("Hello World!")
    spam = spam + 1
    print(spam)

Hello World!
1
Hello World!
2
Hello World!
3
Hello World!
4
Hello World!
5

In [69]:
 # Compare "if" and "while"
    
spam = 0 

if spam < 5: 
    print("Hello World!")
    spam = spam + 1
    print(spam)

Hello World!
1

In [71]:
# Example of "break" statement 
spam = 0 
while spam < 10: 
    print("Hello World!")
    spam = spam + 1
    
    if spam > 5: 
        break

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [72]:
# Example of "Continue"

spam = 0 

while spam < 10: 
    spam = spam + 1 
    print(spam)
    if spam == 5: 
        continue 
    print ("Hello World")

1
Hello World
2
Hello World
3
Hello World
4
Hello World
5
6
Hello World
7
Hello World
8
Hello World
9
Hello World
10
Hello World

In [80]:
# Example of "for" Loop statement 

spam = 0 

for i in range(10):
    print("Hello World!")
    spam = spam + 1
    print(spam)

Hello World!
1
Hello World!
2
Hello World!
3
Hello World!
4
Hello World!
5
Hello World!
6
Hello World!
7
Hello World!
8
Hello World!
9
Hello World!
10

In [79]:
# Starting, Stopping, and Stepping Arguments to range()
 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [81]:
# Starting, Stopping, and Stepping Arguments to range()
 
for i in range(2,10,3):
    print(i)

2
5
8

# Example - Rock Paper Scissors

- Take user input 
- Randomly select a value between 1 and 3 
    - if value == 1, then computer = Rock 
    - if value == 2, then computer = Paper 
    - if value == 3, then computer = Scissors
- Compare both user input to computer move 
    - if user input  == computer
        - Tie 
    - if User == "Rock" & Computer == "Scissors"
        - You Win 
    - if User == "Scissor" & Computer == "Paper"
        - You Win 
    - if User == "Paper" & Computer == "Rock"
        - You Win 
    - else: 
        - You Lose

In [84]:
import random

print("Enter your move: Rock, Paper or Scissors")
user = input()

number = random.randint(1,3)

if number == 1: 
    computer = "Rock"
elif number == 2:
    computer = "Paper"
elif number == 3:
    computer = "Scissors"

if user == computer : 
    print("It's a Tie!")
elif user == "Rock" and computer == "Scissors": 
    print("You Win!")
elif user == "Paper" and computer == "Rock": 
    print("You Win!")
elif user == "Scissors" and computer == "Paper": 
    print("You Win!")
elif user == "Rock" and computer == "Paper": 
    print("You Lose!")
elif user == "Paper" and computer == "Scissors": 
    print("You Lose!")
elif user == "Scissors" and computer == "Rock": 
    print("You Lose!")
else: 
    print("Invalid entry!")

Enter your move: Rock, Paper or Scissors
Rock
You Lose!